name: Build CloudStream Extension

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: "adopt"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Plugins
        run: |
          cd src
          chmod +x gradlew
          ./gradlew TeleboxProvider:make

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TeleboxProvider
          path: src/TeleboxProvider/build/*.cs3
          retention-days: 30
